name: pacemaker

on:
  schedule:
    - cron: '0,30 * * * *'

jobs:
  pacemaker:
    name: pacemaker
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2

      - uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: 3.7
          channels: conda-forge,defaults
          channel-priority: strict
          show-channel-urls: true

      - name: do local setup and stop me if needed
        shell: bash -l {0}
        run: |
          source local_setup.sh
          python stop_me_if_needed.py

      - name: check heartbeats
        shell: bash -l {0}
        run: |
          python check_heartbeats.py bot
          python check_heartbeats.py prs

      - name: trigger bot if needed
        uses: benc-uk/workflow-dispatch@v1
        if: github.ref == 'refs/heads/master' && ! cancelled() && ! failure() && env.TRIGGER_BOT
        with:
          workflow: bot
          token: ${{ secrets.AUTOTICK_BOT_TOKEN }}

      - name: trigger prs if needed
        uses: benc-uk/workflow-dispatch@v1
        if: github.ref == 'refs/heads/master' && ! cancelled() && ! failure() && env.TRIGGER_PRS
        with:
          workflow: prs
          token: ${{ secrets.AUTOTICK_BOT_TOKEN }}

      - name: bump on fail
        shell: bash -l {0}
        if: github.ref == 'refs/heads/master' && failure()
        run: |
          export ACTION_URL="https://github.com/regro/autotick-bot/actions/runs/${RUN_ID}"
          python bump_bot_team.py
        env:
          PASSWORD: ${{ secrets.AUTOTICK_BOT_TOKEN }}
          RUN_ID: ${{ github.run_id }}
          ACTION_NAME: ${{ github.workflow }}
