name: update-status-page

on:
  pull_request:
    types: ['opened', 'synchronize', 'reopened']
  push:
    branches:
      - master
  workflow_dispatch: null

jobs:
  update_shards:
    name: update-status-page
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2

      - uses: goanpeca/setup-miniconda@v1
        with:
          python-version: 3.7
          channels: conda-forge,defaults
          channel-priority: strict
          show-channel-urls: true

      - name: install bot code
        shell: bash -l {0}
        run: |
          git config --global user.name regro-cf-autotick-bot
          git config --global user.email 36490558+regro-cf-autotick-bot@users.noreply.github.com
          git config --global pull.rebase false

          export START_TIME=$(date +%s)
          export TIMEOUT=7200

          git clone https://github.com/regro/cf-scripts.git

          pushd cf-scripts
          export GIT_FULL_HASH=$(git rev-parse HEAD)
          conda create -n run_env --quiet --file requirements/run
          conda activate run_env
          conda info
          conda config --show-sources
          conda list --show-channel-urls
          python setup.py develop
          popd

          git clone --depth=1 https://github.com/regro/cf-graph-countyfair.git cf-graph
          git clone --depth=1 https://github.com/conda-forge/conda-forge-pinning-feedstock.git
        env:
          PASSWORD: ${{ secrets.AUTOTICK_BOT_TOKEN }}

      - name: update status page
        shell: bash -l {0}
        run: |
          pushd cf-graph
          conda activate run_env

          conda-forge-tick --run 4
          popd
        env:
          PASSWORD: ${{ secrets.AUTOTICK_BOT_TOKEN }}

      - name: deploy
        shell: bash -l {0}
        if: github.ref == 'refs/heads/master' && ! cancelled()
        run: |
          pushd cf-graph
          conda activate run_env

          export CIRCLE_BUILD_URL="https://github.com/regro/repodata/runs/${RUN_ID}?check_suite_focus=true"
          export CIRCLE_BUILD_NUM="actually-actions-${RUN_ID}"
          conda-forge-tick --run -1

          popd
        env:
          PASSWORD: ${{ secrets.AUTOTICK_BOT_TOKEN }}
          RUN_ID: ${{ env.GITHUB_RUN_ID }}


      - name: trigger next job
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: update-status-page
          token: ${{ secrets.AUTOTICK_BOT_TOKEN }}
        if: github.ref == 'refs/heads/master' && ! cancelled()
