name: versions

on:
  schedule:
    - cron:  '35 * * * *'
  workflow_dispatch: null

jobs:
  versions:
    name: versions
    runs-on: "ubuntu-latest"
    steps:
      - name: turnstyle-python
        id: turnstyle
        uses: beckermr/turnstyle-python@v1
        with:
          continue-after-seconds: 600
          poll-interval-seconds: 60
          github-token: ${{ secrets.AUTOTICK_BOT_TOKEN }}    

      - uses: actions/checkout@v2

      - uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: 3.7
          channels: conda-forge,defaults
          channel-priority: strict
          show-channel-urls: true
          miniforge-version: latest
          miniforge-variant: Mambaforge

      - name: do local setup and stop me if needed
        shell: bash -l {0}
        run: |
          source local_setup.sh
          python stop_me_if_needed.py

      - name: install bot code
        shell: bash -l {0}
        run: |
          source install_bot_code.sh
        env:
          PASSWORD: ${{ secrets.AUTOTICK_BOT_TOKEN }}

      - name: get versions
        shell: bash -l {0}
        run: |
          pushd cf-graph
          conda activate run_env

          conda-forge-tick --run 2
          popd
        env:
          PASSWORD: ${{ secrets.AUTOTICK_BOT_TOKEN }}

      - name: deploy
        shell: bash -l {0}
        if: github.ref == 'refs/heads/master' && ! cancelled()
        run: |
          pushd cf-graph
          conda activate run_env

          export CIRCLE_BUILD_URL="https://github.com/regro/autotick-bot/actions/runs/${RUN_ID}"
          export CIRCLE_BUILD_NUM="actually-actions-${RUN_ID}"
          conda-forge-tick --run -1

          popd
        env:
          PASSWORD: ${{ secrets.AUTOTICK_BOT_TOKEN }}
          RUN_ID: ${{ github.run_id }}

      - name: bump on fail
        shell: bash -l {0}
        if: github.ref == 'refs/heads/master' && failure()
        run: |
          export ACTION_URL="https://github.com/regro/autotick-bot/actions/runs/${RUN_ID}"
          python bump_bot_team.py
        env:
          PASSWORD: ${{ secrets.AUTOTICK_BOT_TOKEN }}
          RUN_ID: ${{ github.run_id }}
          ACTION_NAME: ${{ github.workflow }}
